version: "3.9"
services:
  backend:
    image: node:20
    working_dir: /app
    volumes:
      - ./apps/backend:/app
      - /app/node_modules
    ports:
      - "1338:1337"
    environment:
      DATABASE_HOST: db
      DATABASE_PORT: 5432
      DATABASE_NAME: strapi
      DATABASE_USERNAME: strapi
      DATABASE_PASSWORD: strapi
    command: sh -c "npm install && npm run develop"
    depends_on:
      - db

  db:
    image: postgres:15
    environment:
      POSTGRES_DB: strapi
      POSTGRES_USER: strapi
      POSTGRES_PASSWORD: strapi
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
